#=============  Настройки баз данных: ==============
[database]
db_host = localhost
db_name= matrix_rs_bot
db_user = matrix_rs_bot
db_passwd = XXXXXXXXX

#============ logging: ===============
[logging]
debug = yes

log_path = matrix-reaction-signature-bot.log
# how match keep backup log files:
log_backup_count = 30
# can be:
# 'S' - Seconds
# 'M' - Minutes
# 'H' - Hours
# 'D' - Days
# 'W0'-'W6' - Weekday (0=Monday)
# 'midnight' - Roll over at midnight
log_backup_when = midnight
debug_save_normalized_tiff = yes


#===================== Индивидуальные настройки для бота =============
[matrix]
matrix_server = matrix.org
matrix_login = matrix_rs_bot
matrix_passwd = XXXXXX
session_store_path = session.json

[powers]
# ban, invite, kick, redact, state_default, events_default, users_default or integer (10,20,50 etc):

# power level for change user signature and enable/disable it:
power_level_for_signature = ban
# power level for change user description (each user can change its own description):
power_level_for_user_descr = users_default
# power level for admin rule_interruption:
power_level_for_rule_interruption = ban

[invites]
# for disable some options - live in empty.

# invite rules - who can invite this bot (mxid users and its domain) - this
# options override all other options in this block:
allow_users = good_user1@spammers.com good_user2@matrix.org
# allow whole domain (or all domains: *):
allow_domains = *
# disable some users. Also from allowed domains:
deny_users = baduser@matrix.org baduser2@tt.net
# can disable some domains if allow was by mask '*':
deny_domains = spammers.com spammers2.net
